.container1 {
    width:1380px; 
    height: 300px;
  }
  
.container2 {
    width:1380px; 
    height: 300px;
  }
  
  .third-box {
    width:400px; 
    float:left;  
    height: 150px;
    padding-left: 50px;
  }
  
  .fourth-box {
    width:500px; 
    height: 150px; 
    float:left;
    padding-left: 50px; 
  }

  .fifth-box {
    width:400px; 
    height: 150px; 
    float:right;
    padding-left: 50px;  
  }
  

  
  